body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;

}
.herocontain {
    display: flex;
    flex-direction: column;
}

.herosecondheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlink {
    display: flex;
    gap: 12px;
    margin-right: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.submain {
  display: flex;
  flex-direction: column;
 
}

.headertitle {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
    margin-left: 10px;
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}
.herosecond { 
    font-size: 18px;
    color: #e5e7eb;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: #e5e7eb;
    text-decoration: none;

}

ul {
    list-style: none;
    text-decoration: none;
    
}


.picmid {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.bodypics {
    text-align: center;

}
.picsep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infotext {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.herocontain, .footer {
    background-color: #1f2937;
    color: white;
}

.action {
    color: #e5e7eb;
    background-color: #3882f6;

}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 25px;
    padding: 6px;
    height: 30px;
    width: 70px;
}
.footer {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}